.Builder section {
  text-align: center;
}

.Builder section p {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.Builder button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.Builder section:last-child {
  height: 30rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border: white dashed 1px;
}
